<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t(:editing_city) %></h1>

<%= render 'shared/error_messages', :target => @city %>

<%= form_for([:admin, @country, @state, @city], :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "admin/shared/edit_cities_links" %>
<% end %>
